body{
	text-align: center;
	overflow: auto;
	padding: 5px;
}

canvas {
	position: absolute;
	top: 0px;
	left: 0px;	
	border-style: solid;	
}

#game{	
	position: relative;	
	margin:0 auto;	
	margin-top: 100px;		
}

#canvasFood{
	background-color: transparent;
	z-index: 1;
}

#canvasHex{
	background-color: black;
	z-index: 1;	
}

#canvasSnake{	
	background-color: transparent;
	z-index: 2;
}
